/***********
LOGIN PAGE
************/
.login-screen-body{
    background: url('../images/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.lavalite-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(46,52,81,0.4) 0%, rgba(52,40,104,0.95) 100%)
}

.site-color {
    color: #ffc107;
}

.login-logo{
    margin-bottom: 0 !important;
}

.card.card-outline {
    background: rgba(255,255,255,0.9);
}

.custom-nav-dark,
.primary-bg-dark{
    background:#272d36 !Important;
}
.custom-siderbar-dark{
    background:#272d36 !Important;
}

.visiblilty-hidden {
    visibility: hidden;
}
.py-10 {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
}

.nav-sidebar li a,
.custom-menu-color,
.sidebar-dark-maroon .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-maroon .nav-sidebar>.nav-item>.nav-link.active{
    color:#ccd3e4 !Important;
}

.icon-bg {
    background: #61b0cd;
    padding: 0.25em 0.25em;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    font-size: 22px;
    box-shadow: 2px 2px 8px #c8c8c9;
}

/*************** INNER PAGES *****************/

.table {
    width: 100% !important;
    background-color: transparent;
}

.table thead {
    background-color: #f6f8fb;
}

.table thead th {
    font-weight: 600;
    color: #879099;
    font-size: 14px;
}

.table tbody td {
    color: #212121;
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 400;
}

.page-item.active .page-link{
    background-color: #17a2b8;
    border-color: #17a2b8;
}

/************* FIXED CUSTOM POPUP **************/
.custom-fixed-popup {
    position: fixed;
    margin: 0;
    top:0;
    height: 100%;
}

.custom-fixed-popup > .modal-content{
    height:100%;
}

.custom-fixed-popup.right {
    right: 0;
}

.full-width-button {
    width: 100% !Important;
}

.nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active {
    background-color:  #17a2b8!important;
    color: #343a40;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #17a2b8!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: white !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: black !important;
}
.select2.select2-container.select2-container--default{
    width: 100% !important;
}
.swal2-cancel{
    margin: 1rem!important;
}
